html, body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at 50% 30%, #001028, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  color: #fff;
}
canvas {
  background: radial-gradient(circle at 50% 30%, #000020, #000);
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
  border-radius: 10px;
}